body {
  min-width: 1280px;
  min-height: 720px;
  overflow-y: hidden;
  background-color: #C9FCF0;
  display: flex;
  justify-content: center;
}

.root {
  position: relative;
}

.card {
  position: absolute;
  z-index: 2;
  width: 535px;
  height: 290px;
  border-radius: 20px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  top: 40px;
  left: calc(50% - 267.5px);
  color: #ffffff;
}

.cardinner {
  position: relative;
  width: 475px;
  height: 250px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
}

.front, .back {
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  box-shadow: 0px 20px 15px 0px rgba(209,209,209,1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: linear-gradient(to right top, #02aab0, #00cdac);
}

.back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 535px;
  height: 290px;
  z-index: 9999;
}

.blackline {
  width: 100%;
  height: 45px;
  background-color: #000000;
}

.back .cvc {
  width: 85%;
  height: 90px;
  font-style: italic;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cvc .signature {
  width: 60%;
  height: 40px;
  background: repeating-linear-gradient(
    180deg,
    #E8E8E8,
    #E8E8E8 4px,
    #D8D8D8 4px,
    #D8D8D8 8px
  );
  border-radius: 5px;
}

.cvc .cvcnumber {
  width: 10%;
  height: 34px;
  background-color: #D8D8D8;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 3px;
}

.cvc .cvcnumber .letter:first-child {
  margin-left: 75px;
}

.cvc .cvcnumber .letter {
  margin-left: 15px;
}

.custnum {
  width: 73%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
}

.wrapper {
  position: absolute;
}

.card .cardimg {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.logo {
  width: 155px;
  height: auto;
}

img.chip {
  width: 90px;
  height: auto;
}

.card .cardnumber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 105px;
  top: 65px;
  z-index: 9999;
}

.numbertitle {
  position: absolute;
  top: -50px;
}

.title {
  font-size: 16px;
  letter-spacing: 2px;
  z-index: 10;
}

.subtitle {
  font-size: 20px;
  letter-spacing: 1.5px;
  z-index: 10;
  white-space: nowrap;
}

.numberchars span {
  margin-right: 5px;
  font-size: 28px;
  letter-spacing: 4.5px;
  width: 7px;
  display: inline-block;
}

.letters span {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 2px;
  width: 7px;
  letter-spacing: 4.5px;
  margin-right: 16px;
}

.letters {
  position: absolute;
  height: 25px;
  left: 35px;
  display: flex;
  justify-content: space-between;
  transition: all 0.4s;
}

.letter span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numberchars {
  position: absolute;
  top: -25px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.datechars {
  position: relative;
  right: 25px;
}

.monthchars {
  right: 60px;
}

.chars {
  right: -40px;
}

.datechars span {
  margin-right: 5px;
}

.char {
  transition: all 0.4s;
  position: absolute;
}

.visible {
  transform: translateY(0);
  opacity: 1;
}

.visibletoggle {
  animation: fadeBotMid 0.4s 1;
}

.hiddentoggle {
  animation: fadeMidUp 0.4s 1;
}

.hidden {
  transform: translateY(-15px);
  opacity: 0;
}

.hidden:nth-child(1) {
  transform: translateY(-15px);
  opacity: 0;
}

.hidden:nth-child(2) {
  transform: translateY(15px);
  opacity: 0;
}

.inputs {
  position: absolute;
  z-index: 1;
  width: 600px;
  height: 425px;
  border-radius: 10px;
  background-color: #FBFCFC;
  border: 1px solid #F7F9F9;
  margin: 0 auto;
  position: absolute;
  top: 300px;
  left: calc(50% - 300px);
}

.inputs form {
  margin: 65px 35px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flname, .numbercvc, .date, .submitbutton {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form .couple {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

form .couple:first-child {
  margin-right: 20%;
}

form .couple input[type=text] {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  width: 90%;
  height: 25px;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: #fafafa;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  color: #323232;
  padding: 5px 10px;
  transition: .75s all;
}

form label {
  margin-bottom: 7px;
  font-size: 16px;
  color: #323232;
  letter-spacing: 2px;
}

form .couple input[type=text]:focus {
  outline: none;
  border: 0.5px solid #6eff94;
}

form .couple select {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 3px;
  padding: 10px 10px;
  font-size: 16px;
  width: 100%;
  transition: .75s all;
}

form .couple select:focus {
  outline: none;
  border: 0.5px solid #6eff94;
}

form .cardnumber {
  width: 75%;
}

form .cardnumber input[type=text] {
  width: 95%;
}

form .cvc {
  width: 25%;
}

form .cvc input[type=text] {
  width: 80%;
}

.fullname {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.namedate {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.datecard {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

form .submitbutton {
  width: 100%;
  height: 45px;
  border: none;
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #323232;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-radius: 3px;
  transition: 0.3s all;
  transform: scale(1, 1);
}

form .submitbutton:enabled {
  background-color: #70ffdd;
}

form .submitbutton:disabled {
  background-color: #C9FCF0;
}

form .submitbutton:enabled:hover {
  transform: scale(1.03, 1.03);
}

form .submitbutton:focus {
  outline: none;
}

form .submitbutton:enabled:active {
  outline: none;
  transform: scale(0.97, 0.97);
}

@keyframes fadeMidUp {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-25px);
  }
}

@keyframes fadeBotMid {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1280px) {
  body {
    min-width: 600px;
    max-width: 1280px;
    transform: scale(0.75, 0.75);
    overflow-x: hidden;
    margin: 0;
    margin-top: -100px;
  }
}

@media (max-width: 600px) {
  body {
    min-width: 375px;
    max-width: 600px;
    transform: scale(0.6, 0.6);
    overflow-x: hidden;
    margin: 0;
    margin-top: -100px;
  }
}

@media (max-width: 375px) {
  body {
    max-width: 375px;
    min-width: 340px;
    transform: scale(0.5, 0.5);
    overflow-x: hidden;
    margin: 0;
    margin-top: -100px;
  }
}